.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Make it full width */
    background-color: #f0f0f0;
    /* Optional: Add a background color */
    padding: 10px;
}